body {
background-color: #d3d3d3 ;
}
h1 {
  text-align: center;
  font-size: 60;
  color: blue;
}
h2 {
  text-align: left;
  font-size: 40;
  color: blue;
}
  a{
  color: yellow;
}
head {
  text-align: center;
  font-size: 100;
  color: blue;
}
.hidden {
  display: none;
}
