footer {
  background: black;
  color: gray;
  font-size 12px;
  padding: 20px 20px;
  text-align: center;
}
@media screen and (max-width: 400px){
  .features{
    background: white;
  }
}
@media screen and (max-width: 800px){
  .features{
    background: white;
  }
}
body {
background-color: #d3d3d3 ;
}
h1 {
  text-align: center;
  font-size: 60;
  color: blue;
}
h2 {
  text-align: left;
  font-size: 40;
  color: blue;
}
  a{
  color: yellow;
}
h3 {
  font-size: 30;
  color: blue;
}
h4 {
  font-size: 20;
  color: red;
}
head {
  text-align: center;
  font-size: 100;
  color: blue;
}
.hidden {
  display: none;
}
